<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WebApplication1.Properties.Settings.cnx" connectionString="Data Source=DESKTOP-U8H5ACU\SQLEXPRESS;Initial Catalog=Book;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />


      <roleManager enabled="true" defaultProvider="P">
        <providers>
          <add name="P" type="WebApplication1.MESROLES"/>
        </providers>
      </roleManager>

      <authentication mode="Forms">
        <forms loginUrl="Authe/Auth.aspx"></forms>
      </authentication>

    </system.web>
  
  
  <location path="Auth">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Admin">
    <system.web>
      <authorization>
        <allow roles="admin"/>
      </authorization>
    </system.web>
  </location>

  <location path="Client/CatAdmin.aspx">
    <system.web>
      <authorization>
        <allow roles="admin"/>
      </authorization>
    </system.web>
  </location>

  <location path="Client/home1.aspx">
    <system.web>
      <authorization>
        <allow roles="admin"/>
      </authorization>
    </system.web>
  </location>

  <location path="Client/LivreAdmin.aspx">
    <system.web>
      <authorization>
        <allow roles="admin"/>
      </authorization>
    </system.web>
  </location>

  <location path="Client/LivreParCatAdmin.aspx">
    <system.web>
      <authorization>
        <allow roles="admin"/>
      </authorization>
    </system.web>
  </location>

  <location path="Client/MeslivresAdmin.aspx">
    <system.web>
      <authorization>
        <allow roles="admin"/>
      </authorization>
    </system.web>
  </location>

  <location path="Client/panierAdmin.aspx">
    <system.web>
      <authorization>
        <allow roles="admin"/>
      </authorization>
    </system.web>
  </location>

</configuration>
